
body{
    margin: 0;
    font-family: "arial", sans-serif;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
}
strong{
    font-family: "arial", sans-serif;
    font-weight: 700;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.7em;
}
h2,
p,
h3,
h4{
    margin: 0;
}
.dev-b-container{
    width: 100%;
    max-width: 930px;
    padding: 0 15px;
    margin: 0 auto;
}
.dev-b-header{
    height: 75px;
    display: flex;
    align-items: center;
    background: #eaeaea;
    border-bottom: 5px solid  #fe0000;

}
.dev-left-header{
    float: left;
    line-height: 75px;
}
.dev-left-header .dev-logo{
    display: flex;
    align-items: center;
    height: 75px;
}
.dev-logo img{
    display: block;
}
 .dev-right-header{
    float: right;
    display: flex;
    align-items: center;
    height: 75px;
}
.dev-b-contact{
    float: left;
    position: relative;
}
.dev-uk-flag{
    line-height: 75px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.dev-contact-title{
    font-size: 20px;
    text-transform: uppercase;
}
.dev-contact-number{
    color: #fe0000;
}
.dev-phone{
    padding-left: 60px;
}
.dev-phone:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/icon-phone.jpg) no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;

}
.dev-right-header a{
    color: #58585a;
}
.nav-menu{
    display: flex;
    height: 40px;
    text-transform: uppercase;
}
.nav-menu li.active a{
    color: #ff0000;
}
.nav-menu ul{
    margin: 0;
    padding: 0;
    width: 100%;
    border-left: 1px solid #c1c1c1;

}
.nav-menu ul li{
    list-style: none;
    float: left;
    width: calc(33.33% - 1px);
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #c1c1c1;
}
.nav-menu ul li a{
    color:  #545454;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.nav-menu ul li a:hover,
.nav-menu ul li a:active,
.nav-menu ul li a:focus{
    color:  #fe0000;
}
.menu{
    border-bottom: 1px solid #c1c1c1;
    background: #e6e6e6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff ,#e6e6e6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff ,#e6e6e6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff ,#e6e6e6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff ,#e6e6e6); /* Standard syntax */


}
.dev-b-top-info .dev-col-1-2:nth-child(1){
    width: 399px;
}
.dev-b-top-info .dev-col-1-2:nth-child(2){
    width: calc(100% - 399px);
    height: 363px;
}
.dev-col-1-2{
    float: left;
}
.dev-b-top-info{
    display: table;
    width: 100%;
    font-size: 12px;
    overflow: hidden;
}
.dev-b-footer{
    height: 60px;
    line-height: 60px;
    border-top: 3px solid  #fe0000;
    background: #eaeaea;
    display: table;
    width: 100%;

}
.dev-b-pheduyet-wrapper{
    padding-top: 50px;
}
 .titleh2{
    font-size: 26px;
    color: #5e5e5e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

}
.dev-b-pheduyet-wrapper .top-content{
    margin-bottom: 40px;
}
.dev-b-pheduyet-wrapper .top-content p{
    text-align: center;
}

.dev-b-pheduyet-wrapper .bot-content .deb-b-col{
    float: left;
}
.dev-b-video{
    width: 55.8%;
}
.dev-b-video .video iframe{
    width: 100%;
    height: 305px;
}
.dev-b-list{
    width: 44.2%;
}
.dev-b-list ul{
    padding: 30px 0 0 90px;
    margin: 0;
}
.dev-b-list ul li{
   list-style: none;
    padding-left: 75px;
    margin-bottom: 25px;
    position: relative;
}
.dev-b-list ul li:last-child{
    margin-bottom: 0;
}

.dev-b-list ul li:before{
    content: "";
    background: url(../images/img1.png) no-repeat;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
}

.dev-b-list ul li:nth-child(1):before{
    background: url(../images/icon-list-1.jpg) no-repeat;
}
.dev-b-list ul li:nth-child(2):before{
    background: url(../images/icon-list-2.jpg) no-repeat;
}
.dev-b-list ul li:nth-child(3):before{
    background: url(../images/icon-list-3.jpg) no-repeat;
}
.dev-b-list ul li:nth-child(4):before{
    background: url(../images/icon-list-4.jpg) no-repeat;
}
.dev-b-list ul li h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 3px;

 }
.dev-b-list ul li p{
    font-size: 14px;
}
.dev-icon img{
    margin: 0 auto;
}
.dev-b-top-info .dev-b-container .dev-col-1-2:nth-child(2){
    background: #e7e7e7;
}
.dev-b-top-info .dev-b-container .dev-col-1-2:nth-child(2) .dev-head h2{
    margin-top: 0;
    font-size: 23px;
    line-height: 1.4em;
    text-transform: uppercase;
}
.dev-b-top-info .dev-content{
    padding: 50px 85px;
}
.dev-b-top-info .dev-head{
    color:  #fe0000;
}
.dev-b-top-info .dev-foot .dev-b-col-1-3{
    padding: 0 15px;
    text-align: center;
    position: relative;
}

.dev-b-top-info .dev-foot{
    display: flex;
    margin: 30px 0 20px;
    font-size: 16px;
}
.dev-b-top-info .dev-foot .dev-b-col-1-3 img{
    width: 60%;
}
.dev-b-col-1-3{
    width: 33.33%;
    float: left;
    position: relative;
}
.dev-b-top-info .dev-foot .dev-b-col-1-3:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #c1c1c1;
}
.dev-b-top-info .dev-foot .dev-b-col-1-3:nth-child(1):before{
    display: none;
}
img{
    max-width: 100%;
}
.dev-b-step1{
    display: flex;
    width: 100%;
}
.title-step{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 25px;
    padding-top: 50px;
}
.step1-item{
    text-align: center;
    padding: 30px 0;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    text-transform: uppercase;
    background: #e6e6e6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff ,#e6e6e6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff ,#e6e6e6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff ,#e6e6e6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff ,#e6e6e6); /* Standard syntax */

}
.dev-b-step1 .dev-b-col-1-3{
    padding: 0 15px;
}
.dev-b-step1 .dev-b-container{
    padding: 0;
}
.icon-step1{
    margin-bottom: 15px;
}

/*range slider*/
.range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #b0b0b0;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #ff0000;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #ff0000;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #ff0000;
}
.range-slider__range:active::-moz-range-thumb {
    background: #ff0000;
}
/*range slider*/


.limit-val{
    display: flex;
    padding: 10px 0;
}
.limit-val .min-val{
    width: 50%;
}
.limit-val .max-val{
    width: 50%;
    text-align: right;
}
.dev-b-step2{
    display: table;
    width: 100%;
}
.dev-g-field{
}
.dev-g-field .dev-col{
    display: inline-block;
    margin-right: 50px;
}
.dev-g-field label{
    margin-bottom: 10px;
    display: block;
}
.dev-b-step2 .dev-col-1-2:nth-child(2n+1) .dev-g-field{
    margin-left: auto;
}
.dev-b-step2 .dev-g-field select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 15px 0;
    width: 100%;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select-custom{
    position: relative;
}
/*.select-custom:after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 20px;*/
    /*background: url(../images/arrow-down.png) no-repeat;*/
    /*background-size: 20px 11px;*/
    /*width: 20px;*/
    /*height: 11px;*/
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    /*opacity: .5;*/
/*}*/
.dev-b-step2 .dev-g-field select:focus{
    outline: none;
}
.img-top img{
    width: 100%;
}
.dev-b-guess{
    text-align: center;
}
.dev-guess-title{
    color: #ff0000;
    font-size: 22px;
}

.dev-b-dangky-wrapper{
    display: flex;
    clear: both;
    padding-top: 50px;
}
.dev-b-dangky-wrapper .dev-body{
    padding-top: 20px;
    padding-bottom: 20px;
}
.dev-b-dangky-wrapper .dev-city{
    margin-bottom: 15px;
}
.dev-b-dangky-wrapper form .dev-col-1-2:nth-child(2n) .dev-g-field{
    margin-left: auto;
}



input[type = text],
input[type = email]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    width: 100%;
    text-indent: 10px;
    height: 40px;
    line-height: 40px;

}
input:focus{
    outline: none;
}
.dev-b-dangky-wrapper input[type = submit]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    padding: 10px 30px;
    background: #ff0000;
    color: #fff;
    border: 0;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.submit-form{
    text-align: center;
}

.banner-vincity img{
    width: 100%;
}
*::-webkit-input-placeholder{
    color: #ababab;

}
*::-moz-placeholder{
    color: #ababab;
}
.see-more-btn{
    padding: 7px 30px;
    background: #ff0000;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
}
.dev-b-dangky-wrapper input[type = submit]:hover,
.dev-b-dangky-wrapper input[type = submit]:focus,
.see-more-btn:hover,
.see-more-btn:focus{
    background: #cc0000;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn-custom{
    text-align: center;
    max-width: 450px;
}
.btn-custom a:hover,
.btn-custom a:focus{
    color: #fff;
    text-decoration: none;
}
.dev-b-vincity, .dev-vincity-news{
    display: flex;
}
.dev-b-vincity-content{
    /*background: #afa06a;*/
    color: #fff;
}
.dev-b-vincity-body{
    padding: 0 20px;
    background: #af9f6b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#7e7041 ,#af9f6b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7e7041 ,#af9f6b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7e7041 ,#af9f6b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7e7041 ,#af9f6b); /* Standard syntax */

}
.news-item img{
    width: 100%;
}
.news-item h3{
}
.dev-vincity-news .dev-b-col-1-3{

}
.news-item-content{

}
.news-item{
    padding: 0 15px;
}
.dev-vincity-news .dev-b-col-1-3:nth-child(1) .news-item-content{
    background: #d4c58f;
}
.dev-vincity-news .dev-b-col-1-3:nth-child(2) .news-item-content{
    background: #d4ac8f;
}
.dev-vincity-news .dev-b-col-1-3:nth-child(3) .news-item-content{
    background: #d4c58f;
}
.dev-vincity-news .dev-body{
    padding: 15px;
}
a:hover,
a:focus{
    text-decoration: none;
}
.dev-body a{
    color: #fff;
}
.dev-vincity-news .news-item .btn-custom{
    margin-top: 20px;
}
.dev-vincity-news{
    padding: 30px 0;
}
.dev-b-news-info{
    display: flex;
    padding-top: 40px;
}
.thumb-news-info img{
    width: 100%;
}
.dev-news-info-title{
    background: #f2f2f2;
}
.dev-news-info-title a{
    color: #555555;
    padding: 15px;
    display: inline-block;
    background: #f2f2f2;
    min-height: 90px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.dev-b-news-info-item{
    padding: 15px;
}
.main{
    padding-bottom: 50px;
}
.dev-b-vincity-body .dev-body-top p{
    padding: 0 15px;
}
.p-news-ex{
    height: 140px;
}

.title-dangky p{
    text-align: center;
}


.dev-col-1-2{
    width: 50%;
    float: left;
}
.dev-col-1-3{
    width: 33.33%;
    float: left;
}
.dev-col-1-2:nth-child(2n) .dev-g-field{
    margin-left: auto;
}
.limit-val{
    display: flex;
    padding: 10px 0;
}
.limit-val .min-val{
    width: 50%;
}
.limit-val .max-val{
    width: 50%;
    text-align: right;
}
.min-val, .max-val{
    opacity: .5;
}
.dev-g-field{
    width: calc(100% - 30px);
    margin-bottom: 10px;
}

.dev-g-field *{
    margin-top: 0;
}
.dev-b-step2 .dev-col-1-2:nth-child(2n+1) .dev-g-field{
    margin-left: auto;
}
.dev-b-step2 .dev-g-field select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
    position: relative;
}
.dev-b-guess{
    text-align: center;
}
.dev-guess-title{
    color: #ff0000;
    font-size: 22px;
}
.dev-guess-num{
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 7px;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
}
.red-color{
    color: #ff0000;
}

/*range slider*/
.range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #b0b0b0;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #ff0000;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #ff0000;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #ff0000;
}
.range-slider__range:active::-moz-range-thumb {
    background: #ff0000;
}
/*range slider*/
.dev-b-formula{
    display: table;
    width: 100%;
}
.dev-b-info{
    display: table;
    width: 100%;
    margin-bottom: 35px;
}
.deb-b-canho{

    background: #f2f2f2;
    cursor: pointer;
}
.deb-b-canho figure{
    margin: 0;
    margin-bottom: 15px;
}
.deb-b-canho figure img{
    width: 100%;
    display: block;
}
.deb-b-canho p.titlep{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.deb-b-canho p{
    padding-bottom: 0;
    text-align: center;
    max-width: 95%;
    margin: 0 auto;
}
.deb-b-canho p:last-child{
    margin-bottom: 0;
    padding-bottom: 15px;
}



/*Checkboxes styles*/
.checkbox-wrapper{
    margin-right: 50px;
}


.hokhaucheckbox{
    text-align: left;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.hokhaucheckbox p{
    text-align: left;
}
.dev-b-row{
    clear: both;
    display: table;
    width: 100%;
}
.nhucautuvan{
    margin-bottom: 15px;
}
.nhucautuvan p{
    margin: 0 auto;
    text-align: left;
}
.btn-custom{
    display: block;
    border-radius: 30px;
    border: 2px solid #fe0000;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fe0000;
    color: #fff;
    text-transform: uppercase;
    width: 95%;
    margin: 0 auto;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;

}
.btn-custom:hover,
.btn-custom:focus{
    background: transparent;
    color: #fe0000;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.dev-b-formula-tittle{
    padding-top: 60px;
    margin-bottom: 20px;
}
.dev-b-formula .dev-text{
    font-weight: 700;
    margin-bottom: 15px;
}
.dev-b-formula-tittle p{
    text-align: center;
}
.dev-b-formula-wrapper{
    clear: both;
}
.dev-b-formula-wrapper .dev-col-1-3{
    width: calc(33.33% - 30px);
}
.dev-b-formula-wrapper .dev-col-1-3{
    margin-right: 45px;

}
.dev-b-formula-wrapper .dev-col-1-3:last-child{
    margin-right: 0;
}
.vitricanho-wrapper{
    margin-bottom: 35px;
}
.vitricanho-wrapper .dev-b-container{
    display: flex;

}
.vitricanho-wrapper p{
    width: 40%;
    line-height: 40px;
}
.select-custom{
    width: 60%;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.select-custom:before{
    content: "";
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #c6c6c6;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.select-custom:after{
    content: "";
    position: absolute;
    right: 19px;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    top: 45%;
    -webkit-transform: translate(0,-50%) rotate(-45deg);
    -moz-transform: translate(0,-50%) rotate(-45deg);
    -ms-transform: translate(0,-50%) rotate(-45deg);
    -o-transform: translate(0,-50%) rotate(-45deg);
    transform: translate(0,-50%) rotate(-45deg);
}
.select-custom select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-indent: 10px;
}

.select-custom select:focus{
    outline: none;
}
.dev-b-khoang-vay-wrapper{
    padding-top: 40px;
}
.dev-b-khoang-vay-wrapper .dev-col-1-2 {

}
.dev-b-khoang-vay-wrapper .dev-g-field label {
    padding-left: 0;
}
.dev-g-field .dev-field-title{
    font-weight: 600;
}
.dev-b-khoang-vay-wrapper input[type = text],
.dev-b-khoang-vay-wrapper input[type = email]{
    height: 30px;
    line-height: 30px;
}
.dev-b-khoang-vay-wrapper .dev-g-field {
    margin-bottom: 10px;
}
.dev-nguonthunhap-wrapper{
    clear: both;
    padding-top: 20px;
}
.dev-nguonthunhap-wrapper .dev-b-title{
    text-align: center;
    margin-bottom: 25px;
}
/*checkbox*/
.control {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    line-height: 25px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ff0000;
    border-radius: 2px;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #ff0000;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #ff0000;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}
/*end checkbox*/

.checkbox-wrapper{
    margin-bottom: 10px;
    display: table;
    width: 100%;
}
.checkbox-wrapper:last-child{
    margin-bottom: 0;
}
.dev-nguonthunhap-wrapper .dev-g-field label {
    padding-left: 10px;
    font-size: 13px;
}
.dev-nguonthunhap-wrapper .dev-g-field{
    padding: 0;
}
.dev-nguonthunhap-wrapper .select-custom{
    width: 100%;
    border-radius: 10px;

}
.dev-nguonthunhap-wrapper .select-custom select{
    border-radius: 10px;
    color: #cccccc;
}
.dev-nguonthunhap-wrapper .select-custom select option{
    color: #5e5e5e;
    padding: 5px;
}
.dev-nguonthunhap-wrapper input{
    height: 38px;
    line-height: 38px;
    padding: 0;
}
.dev-btn-gui{
    display: block;
    background: #ff0000;
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid #ff0000;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.dev-btn-gui:hover{
    background: transparent;
    color: #ff0000;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.checkbox-wrapper .dev-b-row{
    display: none;
}
.dev-popup-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 101;
    display: table;
    width: 100%;
    height: 100%;
    display: none;
}
.dev-popup{
    display: table-cell;
    vertical-align: middle;
}
.dev-popup-content{
    width: 95%;
    margin: 0 auto;
    max-width: 715px;
    text-align: center;
}
.dev-popup-content .dev-body{

    padding: 90px 135px;
    background: #fff;
    color: #ff0100;
}
.dev-popup-content .dev-body p{
    margin-bottom: 20px;
}

.dev-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff0100;
    margin-right: 15px;
    display: inline-block;
}
.dev-dots .dev-dot:last-child{
    margin-right: 0;
}
.dev-b-khoang-vay-wrapper,
.dev-nguonthunhap-wrapper{
    display: none;
}
img{
    display: block;
}
.btn-dk{
    border-radius: 10px;
}
/*ie fix*/
.ie .dev-b-top-info .dev-foot .dev-b-col-1-3{
    padding: 0;
}
.ie .dev-b-top-info .dev-foot .dev-b-col-1-3 h5{
    padding:  15px;
}
.ie .dev-b-top-info .dev-foot .dev-b-col-1-3 img{
    max-width: 65px;
}

.ie .dev-left-header .dev-logo {
    display: table;
}
.ie .dev-left-header .dev-logo a{
    display: table-cell;
    vertical-align: middle;
}
.ie .dev-right-header {
    display: table;
}
.ie .dev-right-wrapper{
    display: table-cell;
    vertical-align: middle;
}
img {text-decoration: none; border: 0px}

.ie .select-custom{
    border-radius: 20px;
    border: 1px solid #c6c6c6 ;
    padding-bottom: 1px;
    overflow: hidden;
}
.ie .select-custom select {
    -webkit-appearance: none;
    text-overflow: "";
    border: 0 !important;
    border: none;
    width: 120%;
}
.ie .select-custom select::-ms-expand {
    display: none;
}
.ie .select-custom {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.ie .select-custom select {
    background: transparent;
    border: none;
    /*hide default down arrow in webkit */
    -webkit-appearance: none;
}
@-moz-document url-prefix(){
    .ie .select-custom select { width: 120%; }
}

select:focus { outline: none; }
.ie .limit-val .min-val{
    float: left;
}
.ie .limit-val .max-val{
    float: right;
}
.ie .dev-b-formula .dev-col-1-2{
    margin-bottom: 10px;
}

.ie input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

}
.ie input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.ie input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fe0000;
    margin-top: -4px;
}
.ie input[type=range]:focus {
    outline: none;
}
.ie input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.ie input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.ie input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fe0000;
}

/*hide the outline behind the border*/
.ie input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

.ie input[type=range]::-ms-track {
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
.ie input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.ie [type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.ie input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fe0000;
}
.ie input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
.ie input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
.ie .range-slider__range{
    height: auto;
    background: #fff;
}
.dev-b-dangky-wrapper .dev-b-container{
    background: #f9f9f9;
}
.dev-b-dangky-wrapper input[type = email],
.dev-b-dangky-wrapper input[type = text]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    width: 310px;
    text-indent: 10px;
    line-height: 40px;
    min-width: 310px;
    height: 20px;
    padding: 5px 0;
    max-width: 100%;
}
.dev-b-dangky-wrapper p{
    font-size: 16px;
    line-height: 1.4em;
}
.dev-b-dangky-wrapper .dev-row-dangky{
    font-size: 0;
}
.dev-b-dangky-wrapper .dev-col{
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    margin-bottom: 10px;
}

.dev-b-dangky-wrapper .dev-col {
    width: 33.33%;
}
.dev-b-dangky-wrapper .dev-col:nth-child(2n){
    width: 66.66%;
}
.dev-b-dangky-wrapper .dev-b-container{
    border: 2px solid #dfdfdf;
}
div.error {
    background: url(../images/icon-error.ico) no-repeat scroll left center/10px 10px rgba(0,0,0,0);
    color: red;
    margin: 0 0 0 5px;
    width: 100%;
}
div.error p{
    padding: 10px 10px 10px 15px;
}
.dev-row-dangky select {
    width: 310px;
    max-width: 100%;
    height: 30px;
    padding: 5px 8px;
    border: 1px #dbdbdb solid;
}
.dev-row-dangky .dev-col p{
    padding-right: 10px;
}
.dev-radio-btn{
    margin-bottom: 10px;
}
.dev-radio-btn span{
    margin-right: 10px;
}
.dev-radio-btn label{
    margin-right: 10px;
    cursor: pointer;
}
.dev-thunhap input[type=checkbox],
.dev-radio-btn input[type=radio]{
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}
.dev-thunhap label{
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}
.dev-b-dangky-wrapper select.errorbox,
.dev-b-dangky-wrapper input.errorbox{
    border: 1px solid #c2000b;
}
.dev-b-dangky-wrapper select.errorbox{
    color: #c2000b;
}
.title-dangky{
    text-align: center;
    margin-bottom: 20px;
}
.error{
    display: none;
}
div.error.active{
    display: block;
}
.dev-khoanvay{
    padding-top: 30px;
    display: none;
}
.dev-khoanvay.active{
    display: block;
}
.dev-khoanvay h4{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.form-info{
    padding-top: 20px;
}
@media(max-width: 768px) {
    .dev-col-1-2,
    .dev-col-1-3 {
        width: 100%;
    }
    .dev-g-field{
        width: 100%;
    }
    .deb-b-canho{
        width: 100%;
        margin-bottom: 20px;
    }
    .dev-b-container{
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }
    .dev-b-pheduyet-wrapper .bot-content .deb-b-col{
        width: 100%;
        clear: both;
    }
    .dev-b-video .video iframe {
        height: 400px;
    }
    .dev-b-top-info .dev-col-1-2:nth-child(1) {
        width: 100%;
    }
    .dev-b-top-info .dev-col-1-2:nth-child(2) {
        width: 100%;
        height: auto;
    }
    .dev-b-dangky-wrapper .dev-col {
        width: 100% !important;
    }
    .dev-b-dangky-wrapper form{
        padding: 0 10px;
    }
    .dev-b-dangky-wrapper select,
    .dev-b-dangky-wrapper input[type = email],
    .dev-b-dangky-wrapper input[type = text]{
        width: 100%;
    }
    .dev-thunhap input[type=checkbox], .dev-radio-btn input[type=radio] {
        top: 0;
    }
    .mobile-block label{
        display: block;
        margin: 5px 0;
    }
    .dev-b-dangky-wrapper .dev-row-dangky{
        margin-bottom: 10px;
    }
    .dev-b-list ul {
        padding: 30px 0 0 0;
    }


}
@media(max-width: 480px) {
    .dev-b-header{
        height: auto;
    }
    .dev-b-col-1-3{
        width: 100%;
    }
    .dev-b-news-info-item{
        margin-bottom: 20px;
        padding: 0;
    }
    .dev-news-info-title{
        background: #f2f2f2;
    }
    .nav-menu{
        height: auto;
    }
    .nav-menu ul li {
        float: inherit;
        width: 100%;
        text-align: left;
        border: 0;
        border-bottom: 1px solid #c1c1c1;
        text-indent: 10px;
    }
    .nav-menu ul {
        background: #e6e6e6;
        border: 0;
    }
    .menu{
        background: transparent;
    }
    .vitricanho-wrapper p {
        width: 35%;
        margin-right: 5%;
        line-height: 1.5em;
    }
    .dev-b-formula-wrapper .dev-col-1-3 {
        width: 100%;
    }
    .dev-b-footer {
        height: auto;
        line-height: 1.5em;
        text-align: center;
        padding: 5px 0;
    }
    .dev-b-list ul {
        padding-left: 0;
    }
    .dev-b-video .video iframe {
        height: 220px;
    }
    .dev-b-top-info .dev-content {
        padding: 40px 10px;
        text-align: center;
    }
    .dev-b-top-info .dev-foot .dev-b-col-1-3:before{
        display: none;
    }
    .dev-b-top-info .dev-foot {
        display: block;
    }
    .dev-b-top-info .dev-foot .dev-b-col-1-3{
        padding: 0;
    }
    .dev-b-top-info .dev-foot .dev-b-col-1-3 img {
        width: 30%;
    }
    .btn-custom{
        font-size: 12px;
    }
   .dev-b-top-info h5{
        font-size: 16px;
    }
   .hokhaucheckbox .checkbox-wrapper{
        text-align: center;
    }
    .dev-popup-content .dev-body {
        padding: 30px 9px;
    }
}